<?xml version="1.0" encoding="UTF-8"?>
<config>
	<properties>
		<jdbcClass>com.mysql.jdbc.Driver</jdbcClass>
		<jdbcURL>jdbc:mysql://127.0.0.1:3306/plugin?useUnicode=true&amp;characterEncoding=UTF8&amp;autoReconnect=true</jdbcURL>
		<jdbcUser>plugin</jdbcUser>
		<jdbcPwd>plugin</jdbcPwd>

		<!-- Schema options -->
		<dbCatalog></dbCatalog>
		<dbSchema></dbSchema>
		<dbTablePattern></dbTablePattern>
		<dbExcludeTables>jee_cfg_copy,jee_ctg_copy</dbExcludeTables>
		<dbIncludeTables></dbIncludeTables>
		<dbTableIgnorePrefix>jee_</dbTableIgnorePrefix>
		<timestampColumn>gmt_modify</timestampColumn>

		<!-- generation options -->
		<targetFolder>src/main/java</targetFolder>
		<templateFolder>empire-codegen/templates</templateFolder>
		<packageName>com.atom.empire.das.osite.auto</packageName>
		<tablePackageName>com.atom.empire.das.osite.auto</tablePackageName>
		<viewPackageName>com.atom.empire.das.osite.auto</viewPackageName>
		<recordPackageName>com.atom.empire.das.osite.auto.records</recordPackageName>

		<dbClassName>OSiteDB</dbClassName>
		<tableBaseName>OSiteTable</tableBaseName>
		<viewBaseName>OSiteView</viewBaseName>
		<recordBaseName>OSiteTBO</recordBaseName>
		<tableNamePrefix>T_</tableNamePrefix>
		<tableClassPrefix>T_</tableClassPrefix>
		<tableClassSuffix></tableClassSuffix>
		<viewNamePrefix>V_</viewNamePrefix>
		<viewClassPrefix>V_</viewClassPrefix>
		<viewClassSuffix></viewClassSuffix>
		<columnNamePrefix>C_</columnNamePrefix>
		<nestTables>true</nestTables>
		<nestViews>true</nestViews>
		<createRecordProperties>true</createRecordProperties>
		<preserverCharacterCase>false</preserverCharacterCase>
		<preserveRelationNames>false</preserveRelationNames>
	</properties>
</config>
